/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

Button, ComboBox{
    -fx-alignment: center;
    -fx-padding: 5;
	-fx-background-color: #6C3B18;
	-fx-text-fill:  #fff;
}

.mainText {
	-fx-font: 25px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, #FBEE6F, #CF3C05 0%, #FBEE6F 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.name-game {
	-fx-font: 25px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, #6C3B18, #6C3B18 0%, #fff 50%);
    -fx-stroke: #6C3B18;
    -fx-stroke-width: 1;
}


.background {
	-fx-background-color: #dbd7d3;
}	

.gridPane {
	-fx-border-color: #fff;
}

.whiteText {
	-fx-text-fill:  #fff;
}

.progress-bar > .track {
  -fx-text-box-border: #F5F8DE;
  
  -fx-control-inner-background: #E1332D;
}

.combo-box {
	-fx-background-color: #fcfbff;
}

.combo-box-popup .list-cell {
	-fx-background-color: #fcfbff;
	-fx-text-fill: #6C3B18;
}	

.combo-box-popup .list-cell:filled:hover {
	-fx-background-color: #6C3B18;
	-fx-text-fill: #fcfbff;
}

.combo-box .button .text {
    -fx-text-fill: #6C3B18 !important;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #6C3B18;
}